<!DOCTYPE html>
<html>
<head>
	<title>pirkejai</title>
	
	<meta charset="utf-8">
	
	<style>
	
		table{
    		
				border-collapse: collapse;
			
			}
			
			th, td{
			
				border: 1px solid red;
				padding: 8px;
			
			}
			
	</style>
	
	<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  	
  	<script>
  		
  		$(document).ready(function(){
			var dialog, form;
			
			function addVartotojas() {
			
				form.submit();
			}
			
			dialog = $( "#ugdymo_istaigos_pridejimas" ).dialog({
			      autoOpen: false,
			      height: 400,
			      width: 350,
			      modal: true,
			      buttons: {
				"Ugdymo įstaigos pridejimas": addVartotojas,
				Cancel: function() {
				dialog.dialog( "close" );
				}
			     }
			});
			
			form = dialog.find( "form" );
			
			$( "#pridejimo_mygtukas" ).button().on( "click", function() {
			      dialog.dialog( "open" );
			});
			
			  $( ".edit" ).each ( function() {
		    
		    	$( this ).button().click ( function() {
		    	
		    		id_ugdymo_istaigos = $( this ).data ( 'id' );
		    		
					$.ajax({
						 method: 'POST'
				 		 , url: '/ugdymo-istaiga'
				 		 , data: {
				 		 	id: id_ugdymo_istaigos
				 		 }
					}).done( function( data ) {
						
						if ( data != null ) {
						
							$( '#pavadimas' ).val ( data.pavadinimas );
							$( '#kodas' ).val ( data.kodas );
							$( '#adresas' ).val ( data.adresas );									
							$( '#id').val ( data.id );
		      				dialog.dialog( "open" );							
						}

				  	});			    		
		    		
		    	});	
		    			    
		    });
		    
		    	  del_dialog = $( "#dialog-confirm" ).dialog({
			
			      autoOpen: false,
			      resizable: false,
			      height: "auto",
			      width: 400,
			      modal: true,
			      buttons: {
				"Pašalinti": function() {
					$( this ).dialog( "close" );
					$( '#salinimo_forma' ).submit();
			          },
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			      }
			});
			
			$( '.delete' ).button().on ( 'click', function() {
				id_iraso = $( this ).data( 'id' );
				console.log(id_iraso);
				$( '#id_iraso_del' ).val ( id_iraso );
				del_dialog.dialog( "open" );
			});
		});
  		
  	</script>
</head>

<body>

	<table>
		<tr th:each="ugdymo_istaigos : ${ugdymo_istaigos}">
			<td th:text="${ugdymo_istaigos.getPavadinimas()}"></td>
			<td th:text="${ugdymo_istaigos.getKodas()}"></td>
			<td th:text="${ugdymo_istaigos.getAdresas()}"></td>			
			<td><button class="edit" th:attr="data-id=${ugdymo_istaigos.getId()}" value="redaguoti">Redaguoti</button></td>
			<td><button class="delete" th:attr="data-id=${ugdymo_istaigos.getId()}">Šalinti</button></td>		
		</tr>
	</table>
	
	<div id="ugdymo_istaigos_pridejimas">
		<form method="post" th:action="@{/admin-ugdymo-istaigos-tvarkyti}">
			<label for="pavadinimas"><br> Pavadinimas: <br></label>
			<input type="text" name="pavadimimas" id="pavadinimas" value="">
			<label for="kodas"><br> Kodas: <br></label>
			<input type="text" name="kodas" id="kodas" value="">
			<label for="adresas"><br> Adresas: <br></label>
			<input type="text" name="adresas" id="adresas" value="">

			<input type="hidden" id="id" name="id" value="0">
			<input type="hidden" id="prideti" name="prideti" value="prideti">
		</form>
	</div>
	
	<div id="dialog-confirm" title="Pasirinktų duomenų šalinimas">
		<p>Ar tikrai norite ištrinti pasirinktus duomenis?</p>
		<form id="salinimo_forma" method="post" action="/salinti-vartotoja">
				<input type="hidden" name="salinti" id="salinti" value="salinti">
				<input type="hidden" name="id_iraso_del" id="id_iraso_del" value="0">	
		</form>
	</div>
	
		
	<button id="pridejimo_mygtukas">Ugdymo įstaigos pridejimas</button>
	
</body>
